# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Machine Learning
models/
checkpoints/
dataset/
data/

# Large model files
*.pth
*.pt
*.ckpt
*.onnx
*.h5

# Outputs
outputs/
uploads/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/